:root {
    --blanco: #ffffff;
    --negro: #000000;
    --azul: #16264b;
    --blanco-oscuro: #f8f4f4;
    --azul-oscuro: #060c16;
    --trans-oscuro: rgba(11, 26, 53, 0.83);
    
    --fuente: 'Raleway', sans-serif;
    --height-logo: 30rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 2;
}

a {
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: var(--fuente);
    margin: 1rem 0;
}
img {
    max-width: 100%;
}


.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

#loader {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
	background-color: var(--azul);
	z-index:3;
}
#load-logo {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: var(--height-logo);
    min-width: auto;
}


.buttons {
    border: none;
    color: var(--blanco);
    background-color: var(--trans-oscuro);
    padding: 1rem 3rem;
    transition: background-color .5s;
    border: var(--blanco) 0.2rem solid;
}
.buttons:hover {
    font-weight: 900;
    color: var(--azul-oscuro);
    background-color: var(--blanco);
}

/* ---------BARRA DE NAVEGACION-------- */
#header {
    position: fixed;
    z-index: 2;
    top: -7rem;
    background-color: var(--trans-oscuro);
    width: 100%;
    box-shadow: 0 0 0.5rem 0.5rem;
    transition: background-color .5s;
}
#header:hover {
    background-color: var(--azul);
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-bar {
    margin: 1rem 0 0 0;
    width: 7rem;
    padding-left: 2rem;

}

.nav-selec {
    padding: 2rem;
    font-weight: 100%;
    transition: font-weight .5s;
    color: var(--blanco);
}
.nav-selec:hover {
    font-weight: 800;
}

/* ---------INICIO Y PRESENTACION-------- */

#about {
    position: relative;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: auto;
}

.bg-about {
    background-color: var(--azul-oscuro);
}

.shape {
    position: fixed;
    transition: transform linear;
    top: 0;
    right:0;
    height: 1000px;
    width: 1000px;
    transition-duration: 400ms;
}

#logo-responsive {
    opacity: 0.3;
    height: 100%;
    width: 100%;
}

#desc {
    color: var(--blanco);
    margin: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.desc-nombre {
    min-width: 30rem;
    width: 30rem;
    text-align: right;
    padding-right: 3rem;
    opacity: 0;
}
.desc-nombre h1 {
    font-size: 6rem;
    line-height: 6rem;
}

.desc-texto {
    position: relative;
    width: 30rem;
    padding-left: 3rem;
    font-style: italic;
    height: 15rem;
    

    /*Animate*/
    left: 7rem;
    opacity: 0;
}


/* ---------PROYECTOS-------- */

#projects {
    position: relative;
    background-color: var(--blanco-oscuro);
}

.bg-projects {
    background-color: var(--blanco-oscuro);
    background-repeat: no-repeat;
    background-size:cover;
}

#projects-grid {
    display: flex;
    flex-direction: column;
    padding: 10rem 10rem;
    
}

.project {
    height: auto;
    padding: 5rem 5rem;
    margin: 2.5rem 2.5rem;
    box-shadow: 0 0 2rem -0.3rem;
}

.project-left {
    position: relative;
    align-self: flex-start;
    width: 80%;
}

.project-right {
    position: relative;
    align-self: flex-end;
    width: 80%;
}

.project-title {
    color: var(--blanco);
}
.project-desc {
    color: var(--blanco);
    text-align: justify;
}
/* ---------PROYECTOS-------- */
#contact {
    position: relative;
    z-index: -1;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
   
}

/* .popup {
    position: absolute;
}
.popup h1{
    color: #f8f4f4;
} */


