:root {
    --blanco: #ffffff;
    --negro: #000000;
    --azul: #008080;
    --azul-oscuro: #150b2d;
    --trans-oscuro: rgba(21, 11, 45, 0.7);
    
    --fuente: 'Raleway', sans-serif
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 2;
}

a {
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: var(--fuente);
    margin: 1rem 0;
}
img {
    max-width: 100%;
}
hr {
    margin: 2rem 0;
}

/*!!!!!!!!!!!!!!!!!!!!!*/
strong {
    font-size: 4rem;
    line-height: 0.3rem;
}
/*!!!!!!!!!!!!!!!!!!!!!*/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.buttons {
    border: none;
    color: var(--blanco);
    background-color: var(--trans-oscuro);
    padding: 1rem 3rem;
    transition: background-color .5s;
    border: var(--blanco) 0.2rem solid;
}
.buttons:hover {
    font-weight: 900;
    background-color: var(--azul);
}

/* ---------BARRA DE NAVEGACION-------- */
#header {
    position: fixed;
    z-index: 5;
    top: -7rem;
    background-color: var(--trans-oscuro);
    width: 100%;
    box-shadow: 0 0 0.5rem 0.5rem;
    transition: background-color .5s;
}
#header:hover {
    background-color: var(--azul);
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-bar {
    margin: 1rem 0 0 0;
    width: 7rem;
    padding-left: 2rem;

}

.nav-selec {
    padding: 2rem;
    font-weight: 100%;
    transition: font-weight .5s;
    color: var(--blanco);
}
.nav-selec:hover {
    font-weight: 800;
}

/* ---------INICIO Y PRESENTACION-------- */


#logo {
    position: absolute;
    opacity: 0.3;
    height: 100%;

}

#about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-about {
    background-color: var(--azul-oscuro);
}
#desc {
    color: var(--blanco);
    margin: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.desc-nombre {
    min-width: 30rem;
    width: 30rem;
    text-align: right;
    padding-right: 2rem;
    opacity: 0;
}
.desc-nombre h1 {
    font-size: 6rem;
    line-height: 6rem;
}

.desc-texto {
    position: relative;
    max-width: 45rem;
    padding-left: 2rem;
    font-style: italic;
    height: 15rem;
    border-left: var(--blanco) 0.2rem solid;

    /*Animate*/
    left: 7rem;
    opacity: 0;
}



/* ---------PROYECTOS-------- */

#projects {
    min-height: 100vh;
    box-shadow: 0 0 5rem 1rem;
}

.bg-projects {

    background-color: var(--blanco);
    background-repeat: no-repeat;
    background-size:cover;
}

#projects-grid {
    display: flex;
    flex-direction: column;
    padding: 10rem 10rem;
    
}

.project {
    z-index: 1;
    background: var(--trans-oscuro) url(../images/img-project.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: darken;
    padding: 5rem 5rem;
    margin: 1rem 1rem;
}

.project-left {
    width: 80%;
}

.project-right {
    align-self: flex-end;
    width: 80%;
}

.project-title {
    color: var(--blanco);
}
.project-desc {
    color: var(--blanco);
}
/* ---------PROYECTOS-------- */
#contact {
    position: relative;
    z-index: -1;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
   
}

